h1.title {
  text-align: center;
}

.centered {
  text-align: center;
}

.cvdate {
float: right;
font-style: italic;
}

.italic {
  font-style: italic;
}

.tooltip {
  color: italic;
}

section > ul > li > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div.contact > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

div.langs > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
